## Own stuff
todo.md

## Releases
*.app
*.exe
*.bin

## IDE / editor stuff
.idea

# Python environment stuff
.venv

# Byte-compiled / optimized / DLL stuff
__pycache__/
*.py[codz]
*$py.class

# MacOS stuff
.DS_Store
