[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wikibaseintegrator = "*"
pyside6 = "*"
odswriter = "*"
xlsxwriter = "*"
imageio = "*"
keyring = "*"
pywin32 = {version = "*", markers = "sys_platform == 'win32'"}

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
coverage = "*"
pytest-qt = "*"
pyexcel_xlsx = "*"
ezodf = "*"
lxml = "*"

[requires]
python_version = "3.13"
