[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wikibaseintegrator = "*"
pyside6 = "*"
odswriter = "*"
xlsxwriter = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.13"
